/* Misc */
header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  justify-content: left;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

button {
  cursor: pointer;
  background-color: var(--button-prm);
  border: 1px solid var(--button-prm);
  border-radius: var(--border-radius);
  color: var(--text);
  justify-content: center;
  align-items: center;
  display: flex;
}

button:hover {
  border-color: var(--button-sec);
}

.menu-button-div {
  width: 25px;
  height: 2px;
  background-color: var(--text);
  margin: 2px 0;
}

/* User */
.player-card {
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: var(--border-radius);
  height: var(--usercard-height);
}

.pfp-container {
  background-color: var(--tertiary);
  padding: 0.5rem;
  border-radius: calc(var(--border-radius) + 3px);
}

/* Game Board Page */
.game-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.board-container {
  padding-top: var(--board-top-padding);
  padding-left: 1rem;
  padding-right: 1rem;
}

.board {
    display: flex;
    flex-direction: column;
    padding: var(--board-padding);
    background-color: var(--secondary);
    border-radius: 6px;
}

.board-row {
    display: flex;
    flex-direction: row;
}

.board-tile {
  width: var(--tile-dim);
  height: var(--tile-dim);
  background-color: #cda688ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-tile.dark {
  background-color: #895a37ff;
  position: relative;
}

.board-tile::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #d0be39;
  opacity: 0;
  width: var(--tile-dim);
  height: var(--tile-dim);
}

.board-tile:hover::after {
  opacity: 0.5;
}

.piece {
  width: calc(var(--tile-dim) - 15px);
}

.promotion-select {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

.promotion-select-row {
  display: flex;
  flex-direction: row;
  background-color: var(--bg);
  padding: 0.5rem;
  border-radius: var(--border-radius);
}

/* Media Queries */
@media (prefers-color-scheme: dark) {
  :root {
    --secondary: #2a2a2a;
    --tertiary: #434343;
    --highlight: #ffffff;
    --text: #f1f1f1;
  }
}

@media (max-width: 1024px) {
  .game-page {
    flex-direction: row;
  }

  :root {
    --header-height: 100px;
    /* Game Page */
    --board-top-padding: 2rem;
    --board-padding: 3rem;
    --tile-dim: 65px;
  }
}

@media (max-width: 900px) {
  .game-page {
    flex-direction: column;
  }

  :root {
    /* User */
    --usercard-height: 7rem;
  }
}

@media (max-width: 768px) {
  .game-page {
    flex-direction: column;
  }

  :root {
    --header-height: 70px;
    /* User */
    --usercard-height: 7rem;
    /* Game Page */
    --board-top-padding: 1rem;
    --board-padding: 2rem;
    --tile-dim: 50px;
  }
}

@media (max-width: 480px) {
  .game-page {
    flex-direction: column;
  }

  :root {
    --header-height: 60px;
    /* User */
    --usercard-height: 7rem;
    /* Game Page */
    --board-top-padding: 1rem;
    --board-padding: 2rem;
    --tile-dim: 40px;
  }
}